// width
$width_select: 300px;
$width_bonuses: 400px;
$width_input: 144px;

// background
$bg_body: #0C0F1D;
$bg_base: rgba(255, 255, 255, 0.05);
$bg_base_dark: #1B1D2A;
$bg_light_1: rgba(255, 255, 255, 0.1);
$bg_light: #FCE5CD;
$bg_white: #ffffff;

$best: #43bc9c;
$good: #60C83B;
$norm: #FFE600;
$bad: #FF7D1F;

// color
$color_active: #F6D79D;
$color_base: #ffb2b2;
$color_black: #000000;
$color_white: #ffffff;

//header font-size
$header_1: 40px;
$header_2: 36px;
$header_3: 32px;
$header_4: 24px;
$header_5: 20px;
$text_big: 18px;
$text_base: 16px;

//font-weight
$fw_base: 400;
$fw_strong: 700;

//Font
$font_main: 'shii-webfont';

// Width
$container_base: 1110px;

// margin
$mg_vbig: 30px;
$mg_big: 20px;
$mg_base: 15px;
$mg_small: 10px;
$mg_vsmall: 5px;
$mg_title_top: 60px;
$mg_bonus_top: 165px;

// padding
$pd_vbig: 50px;
$pd_big: 40px;
$pd_base: 20px;
$pd_small: 15px;
$pd_vsmall: 5px;

// border-radius
$br_big: 30px;
//$br_base: 40px;
$br_normal: 20px;
$br_base: 10px;
$br_small: 5px;

// border-color
$bc_active_green: #3E6238;

// gap
$gp_big: 100px;
$gp_small: 30px;
$gp_vsmall: 10px;