@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('@/assets/fonts/Iconmoon/icomoon.ttf') format('truetype'),
  url('@/assets/fonts/Iconmoon/icomoon.woff') format('woff'),
  url('@/assets/fonts/Iconmoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Anemo {
  &:before {
    content: $icon-Anemo;
    color: #80ffe6;
  }
}

.icon-ATK {
  &:before {
    content: $icon-ATK;
  }
}

.icon-ATK_P {
  &:before {
    content: $icon-ATK_P;
  }
}

.icon-CD {
  &:before {
    content: $icon-CD-path1;
    color: rgb(255, 255, 255);
  }

  &:after {
    content: $icon-CD-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.5;
  }
}

.icon-CR {
  &:before {
    content: $icon-CR;
  }
}

.icon-Cryo {
  &:before {
    content: $icon-Cryo;
    color: #5df;
  }
}

.icon-DEF {
  &:before {
    content: $icon-DEF;
  }
}

.icon-DEF_P {
  &:before {
    content: $icon-DEF_P;
  }
}

.icon-Dendro {
  &:before {
    content: $icon-Dendro;
    color: #a5c83b;
  }
}

.icon-Electro {
  &:before {
    content: $icon-Electro;
    color: #b380ff;
  }
}

.icon-EM {
  &:before {
    content: $icon-EM;
  }
}

.icon-ER {
  &:before {
    content: "\e90e";
    color: #b9b9b9;
    opacity: 0.24;
  }
  &:after {
    content: "\e90f";
    color: #ffffff;
    margin-left: -1em;
  }
}

.icon-ferret_logo .path1 {
  &:before {
    content: $icon-ferret_logo-path1;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path2 {
  &:before {
    content: $icon-ferret_logo-path2;
    margin-left: -1em;
    color: rgb(235, 213, 189);
  }
}

.icon-ferret_logo .path3 {
  &:before {
    content: $icon-ferret_logo-path3;
    margin-left: -1em;
    color: rgb(232, 121, 142);
  }
}

.icon-ferret_logo .path4 {
  &:before {
    content: $icon-ferret_logo-path4;
    margin-left: -1em;
    color: rgb(232, 121, 142);
  }
}

.icon-ferret_logo .path5 {
  &:before {
    content: $icon-ferret_logo-path5;
    margin-left: -1em;
    color: rgb(22, 22, 22);
    opacity: 0.15;
  }
}

.icon-ferret_logo .path6 {
  &:before {
    content: $icon-ferret_logo-path6;
    margin-left: -1em;
    color: rgb(22, 22, 22);
    opacity: 0.15;
  }
}

.icon-ferret_logo .path7 {
  &:before {
    content: $icon-ferret_logo-path7;
    margin-left: -1em;
    color: rgb(169, 146, 130);
  }
}

.icon-ferret_logo .path8 {
  &:before {
    content: $icon-ferret_logo-path8;
    margin-left: -1em;
    color: rgb(170, 147, 131);
  }
}

.icon-ferret_logo .path9 {
  &:before {
    content: $icon-ferret_logo-path9;
    margin-left: -1em;
    color: rgb(232, 121, 142);
  }
}

.icon-ferret_logo .path10 {
  &:before {
    content: $icon-ferret_logo-path10;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path11 {
  &:before {
    content: $icon-ferret_logo-path11;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path12 {
  &:before {
    content: $icon-ferret_logo-path12;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path13 {
  &:before {
    content: $icon-ferret_logo-path13;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path14 {
  &:before {
    content: $icon-ferret_logo-path14;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path15 {
  &:before {
    content: $icon-ferret_logo-path15;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-ferret_logo .path16 {
  &:before {
    content: $icon-ferret_logo-path16;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-ferret_logo .path17 {
  &:before {
    content: $icon-ferret_logo-path17;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-Geo {
  &:before {
    content: $icon-Geo;
    color: #fc0;
  }
}

.icon-HP {
  &:after {
    content: $icon-HP-path1;
    color: #fff;
  }

  &:before {
    //content: $icon-HP-path2;
    //margin-left: -1em;
    color: #fff;
    opacity: 0.497;
  }
}

.icon-HP_P {
  &:before {
    content: $icon-HP_P;
  }
}

.icon-Hydro {
  &:before {
    content: $icon-Hydro;
    color: #3e99ff;
  }
}

.icon-Phys {
  &:before {
    content: $icon-Phys;
  }
}

.icon-Pyro {
  &:before {
    content: $icon-Pyro;
    color: #f95;
  }
}

.icon-vite {
  &:before {
    content: $icon-vite;
  }
}

.icon-arrow-right2 {
  &:before {
    content: $icon-arrow-right2;
    color: #000;
  }
}

.icon-arrow-down2 {
  &:before {
    content: $icon-arrow-down2;
  }
}

