$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "@assets/fonts/Iconmoon/" !default;


$icon-HEAL: "\e911";
$icon-Anemo: "\e908";
$icon-ATK: "\e902";
$icon-ATK_P: "\e903";
$icon-CD-path1: "\e904";
$icon-CD-path2: "\e905";
$icon-CR: "\e907";
$icon-Cryo: "\e91f";
$icon-DEF: "\e909";
$icon-DEF_P: "\e90a";
$icon-Dendro: "\e90b";
$icon-Electro: "\e90c";
$icon-EM: "\e90d";
$icon-ER-path1: "\e90e";
$icon-ER-path2: "\e90f";
$icon-ferret_logo-path1: "\e912";
$icon-ferret_logo-path2: "\e913";
$icon-ferret_logo-path3: "\e914";
$icon-ferret_logo-path4: "\e915";
$icon-ferret_logo-path5: "\e916";
$icon-ferret_logo-path6: "\e917";
$icon-ferret_logo-path7: "\e918";
$icon-ferret_logo-path8: "\e919";
$icon-ferret_logo-path9: "\e91a";
$icon-ferret_logo-path10: "\e91b";
$icon-ferret_logo-path11: "\e91c";
$icon-ferret_logo-path12: "\e91d";
$icon-ferret_logo-path13: "\e91e";
$icon-ferret_logo-path14: "\e91f";
$icon-ferret_logo-path15: "\e920";
$icon-ferret_logo-path16: "\e921";
$icon-ferret_logo-path17: "\e922";
$icon-Geo: "\e924";
$icon-HP-path1: "\e926";
$icon-HP-path2: "\e927";
$icon-HP_P: "\e928";
$icon-Hydro: "\e92b";
$icon-Phys: "\e92c";
$icon-Pyro: "\e92d";
$icon-vite: "\e92f";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down2: "\ea3e";

/*NewIcon*/
$icon-boosty: "\e900";
$icon-clock: "\e901";
$icon-energy-path1: "\e906";
$icon-energy-path2: "\e910";
$icon-hoyolab-path1: "\e912";
$icon-hoyolab-path2: "\e913";
$icon-hoyolab-path3: "\e914";
$icon-hoyolab-path4: "\e915";
$icon-phys-path1: "\e91b";
$icon-phys-path2: "\e91c";
$icon-phys-path3: "\e91d";
$icon-piro-electro: "\e91e";
$icon-Q-path1: "\e920";
$icon-Q-path2: "\e921";
$icon-shild: "\e922";
$icon-snapshot-path1: "\e923";
$icon-snapshot-path2: "\e925";
$icon-snapshot-path3: "\e929";
$icon-snapshot-path4: "\e92a";
$icon-telegram-path1: "\e92e";
$icon-telegram-path2: "\e92f";
$icon-vk-path1: "\e930";
$icon-vk-path2: "\e931";
$icon-youtube-path1: "\e932";
$icon-youtube-path2: "\e933";